body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
}
form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label, input, select {
    display: block;
    margin-bottom: 10px;
}
input[type="submit"], input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
input[type="button"] {
    background-color: #FF0000; /* Red color */
    margin-top: 10px; /* Top margin */
}
#data-display {
    margin-top: 20px;
    display: none;
}
#data-display table {
    width: 100%;
    border-collapse: collapse;
}
#data-display table th, #data-display table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
#data-display table th {
    background-color: #007BFF;
    color: #fff;
}